<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<g:uploadForm action="upload">
    <input type="file" name="csv" id="fileToImport"/>
    <input class="btn btn-primary" type="submit"/>
</g:uploadForm>

</body>
</html>